@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        background-color: #f0ebf8;
    }
}

@layer components {
    .flex-center {
        @apply flex justify-center items-center;
    }

    .transform-center {
        @apply absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2;
    }

    .transform-center-x {
        @apply absolute left-1/2 transform -translate-x-1/2;
    }

    .focus-input {
        @apply focus:outline-none focus:border-b-2 focus:border-b-primary;
    }

    .focus-box {
        @apply focus-within:border-l-emphasis focus-within:border-l-8 border-l-8 border-l-white;
    }

    .button-shadow {
        @apply hover:bg-gray-100 active:bg-gray-200 rounded-full;
    }

    .switch {
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 3.5em;
    height: 1.5em;
    }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    border: 1px solid #adb5bd;
    transition: .4s;
    border-radius: 30px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 1em;
    width: 1.4em;
    border-radius: 20px;
    left: 0.27em;
    bottom: 0.25em;
    background-color: #adb5bd;
    transition: .4s;
  }
  
  input:checked + .slider {
    @apply bg-primary border-primary
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #007bff;
  }
  
  input:checked + .slider:before {
    transform: translateX(1.4em);
    background-color: #fff;
  }

  .sidebar-location {
    right: calc(50% - 33rem); 
  }
}